.loading {
    /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
    width: 100vw;
    height: 100vh;
    /*ローディング画面の表示位置を固定*/
    position: fixed;
    top: 0;
    left: 0;
    background: #1082ce;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*ローディング画面を0.5秒かけて非表示にする*/
    transition: all 0.5s linear;
}

/*ローディング画面を非表示にする*/
.loading.loaded {
    /*0.5秒かけてopacityを0にする*/
    opacity: 0;
    visibility: hidden;
}

.loading-text {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #FFF;
    border-left-color: #1082ce; 
    /* アニメーションを1秒かけて実行 */
    animation: spinner-rotation 1s linear infinite;
}

  /* アニメーションの設定 */
@keyframes spinner-rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
/* プログレスバーの外枠 */
.progress-bar {
    width: 60%;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

/* プログレスバーの内側（進行状況） */
.progress-fill {
    width: 0%;
    height: 100%;
    background-color: #3ac63f;
    transition: width 0.2s ease;
}